---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chezzi Physics Notes</title>
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        <h1>Chezzi</h1>

        <p>Inflation · Quantum Cosmology · Decoherence</p>
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
